/* header */
.logout{float: right;
color: white;
position: relative;
right: 20px;
top: 9px;
font-size: 14px;
}

.main-header .logo .logo-lg {
  background: url('/images/Placeful-logo-white.png');
  width: 100px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
  display: block;
  height: 28px;
}

/* sidebar menu */

.sidebar-menu a{
  font-size: 14px;
}

/* content */
.content-wrapper{
  min-height: 361px;
}

.content-wrapper h4{
  font-weight: bold;
}

.lead{
  margin: 0;
}


   .login-logo a,
   .register-logo a {
     background: url('/images/Placeful-logo-black.png') no-repeat;
     text-indent: -9999px;
     width: 116px;
     display: inline-block;
     height: 28px;
   }

   .for-merchant {
     color: gray;
     font-size: 30px;
     float: left;
   }

   .login-page,
   .register-page {
     background: white;
   }

   .login-logo,
   .register-logo {
     margin-bottom: 0;
   }

   .login-box-body,
   .register-box-body {
     border: 1px solid #ccc;
   }

   .logout {
     float: right;
     color: white;
     position: relative;
     right: 20px;
     top: 9px;
     font-size: 16px;
     font-weight: bold;
   }

   .logout:hover {
     color: gray;
   }

   .error {
     color: red;
     font-weight: normal;
   }

   .btn-primary,
   .btn-primary:hover,
   .btn-primary:focus,
   .btn-primary:active {
     background-color: #bd382a;
     border-color: #bd382a;
     font-weight: bold;
   }

   a,
   a:hover,
   a:focus,
   a:active {
     color: #bd382a
   }

   body {
     font-family: sans-serif;
   }

   .status {
     position: absolute;
     top: 0;
     font-size: 20px;
     display: none;
   }

   #myModal img {
     max-width: 100%;
   }

   .dealPrice,
   .normalPrice {
     padding: 2px 0;
   }

   address {
     margin: 0;
   }

   .business_name {
     font-weight: bold;
   }

   .location {
     margin-bottom: 10px;
   }

   .normalPrice {
     text-decoration: line-through;
   }

   .pricing {
     padding-left: 0;
     text-align: right;
     font-size: 8rem;
     display: inline;
   }

   .pricing-currency {
     text-align: right;
     padding-right: 0;
     top: -1.5rem;
     position: relative;
     font-size: 4rem;
   }

   .pricing-period {
     position: relative;
     font-size: 3rem;
   }

   .get-started {
     text-transform: capitalize;
   }

   .plan-info {
     font-size: 1.5rem;
     margin-left: 50px;
   }

   .full .box-title {
     font-weight: bold;
   }

   #stripe-form .form-row {
     margin: 17px 0;
   }

   .modal-footer {
     margin-top: 20px;
   }

   #stripe-form .row {
     margin-bottom: 10px;
   }

   .card-wrapper {
     margin-bottom: 20px;
   }

   .cc-text {
     font-weight: bold;
   }

   .clearfix:after {
     content: ".";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
   }

   .btn-primary[disabled] {
     background-color: #d27241!important;
     border-color: #d27241!important;
   }

   .text-center {
     text-align: center;
     position: relative;
   }

   .or {
     position: absolute;
     font-size: 23px;
     top: 21px;
     left: 30px;
   }

   .label-radio {
     font-weight: normal;
     padding-right: 10px;
   }

   .coupon_code {
     font-size: 3rem;
     color: #cf4127;
   }

   .btn {
     font-weight: bold;
   }

   .g-recaptcha {
     margin-bottom: 10px;
   }

   label {
     font-weight: normal;
   }

   .coupon {
     border: 3px dashed #bcbcbc;
     border-radius: 10px;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     font-weight: 300;
     margin: 10px 0 20px 15px;
     position: relative;
   }

   .coupon-img {
     width: 300px;
     margin-bottom: 15px;
     padding: 0;
   }

   .number {
     font-size: 40px;
     font-weight: 700;
   }

   .small_image {
     display: block;
     float: left;
     margin-right: 10px;
   }

   .code {
     font-weight: bold;
   }

   .modal-content {
     height: 600px;
     overflow-y: auto;
     overflow-x: hidden;
   }

   .referral_code {
     border: 1px dashed;
   }

   .login-box,
   .register-box {
     width: 100%;
   }

   @media screen and (min-width: 1200px) {
     .login-box,
     .register-box {
       width: 50%;
     }
   }


   .cta, .red, .green {
     background-color: #FF4136;
     border: none!important;
     box-shadow: 0 0 28px rgba(0, 0, 0, .2)!important;
     border-radius: 3em!important;
     color: #000 !important;
     cursor: pointer;
     display: block;
     font-size: 0.9em;
     font-weight: bold;
     height: calc(3.5em + 2px);
     letter-spacing: 0.25em;
     line-height: 3.5em;
     outline: 0;
     padding: 0 3.75em;
     position: relative;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     white-space: nowrap;
     -webkit-appearance: none;
     margin: 0 auto;
     width: 200px
   }

   .green{
     background-color: #00a65a;
   }

   input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-primary{
    color: white;
}

#register-form h3{
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
}

.logo-img{
  margin: 20px 0;
}

.btn-gradient{
  background: rgba(246,22,14,1);
  background: -moz-linear-gradient(top, rgba(246,22,14,1) 0%, rgba(188,44,41,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,22,14,1)), color-stop(100%, rgba(188,44,41,1)));
  background: -webkit-linear-gradient(top, rgba(246,22,14,1) 0%, rgba(188,44,41,1) 100%);
  background: -o-linear-gradient(top, rgba(246,22,14,1) 0%, rgba(188,44,41,1) 100%);
  background: -ms-linear-gradient(top, rgba(246,22,14,1) 0%, rgba(188,44,41,1) 100%);
  background: linear-gradient(to bottom, rgba(246,22,14,1) 0%, rgba(188,44,41,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6160e', endColorstr='#bc2c29', GradientType=0 );
}

.footer{
  margin-top: 20px;
}

.text-center{
  text-align: center;
}

.alert-danger {
  color: #a94442!important;
  background-color: #f2dede!important;
  border-color: #ebccd1;
}

.zip-state{
  width: 48%;
  margin-bottom: 15px;
}

.address{
  width: 65%;
  margin-bottom: 15px;
}

.state{
  width: 30%;
  margin-bottom: 15px;
}

.ion-ios-compose-outline, .ion-ios-pause, .ion-ios-play, .ion-ios-trash{
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  color: #bd382a
}

.changeImg{
  padding: 10px;
}

/*****************************************
  upload button styles
******************************************/

.file-upload__input {
    display: block;
    position: relative;
    width: 200px;
    cursor: pointer;
    border: 0;
    height: 60px;
    border-radius: 5px;
    outline: 0;
}
.file-upload__input:after {
    transition: 200ms all ease;
    border: 1px dashed rgba(0,0,0,.2);
    background: #fff;
    color: #000;
    font-size: 13px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: 'Change promo image';
    line-height: 60px;
    border-radius: 5px;
}

.new-promo label{
  font-weight: bold;
}


.image-upload{
  width: 150px!important;
  height: 150px!important;
  border: 1px dashed #ccc;
}

.image-upload span{
  font-size: 7em;
  text-align: center;
  display: block;
}

.new-promo .form-group{
  margin-bottom: 30px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: #00c0ef;
  border-color: #00c0ef;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: white;
}

footer{
  font-size: 11px
}

.common-questions p, .common-questions h3, .common-questions h4 {
  padding: 0 0 0 20px;
}

.common-questions p{
  padding-bottom: 20px;
}

.iCheck-custom{
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  opacity: 0;
  background: rgb(255, 255, 255);
}

.mailbox-subject a {
  color: #2c3e50;
  text-decoration: none!important
}

.checkbox{
  font-size: 20px;
}

.photo-upload{
  width: 80px!important;
  height: 80px!important;
  border: 1px dashed #ccc;
  line-height: 80px;
}

.photo-upload span{
  font-size: 0.8em;
  cursor: pointer;
  text-decoration: underline;
}

.font-weight-bold{
  font-weight: bold;
}

.font-weight-normal{
  font-weight: normal;
}
